// Variables
$primary:   #1d1313; // - (29,19,19)
$secondary: #f8f8f8; // - (248,248,248)
$tertiary:  #403c3b; // - (64,60,59)
$gray80:    #cccccc; // Gray80 (204,204,204)
$black:     #000000; // Black (0,0,0)
$white:     #ffffff; // White (255,255,255)

// The * selector selects all elements.
* {
    color: $black;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

// The <body> tag defines the document's body.
//
// The <body> element contains all the contents of an HTML document, such as
// headings, paragraphs, images, hyperlinks, tables, lists, etc.
body {
    color: $primary;
    font-size: 17px;
    font-family: 'Open Sans', 'Sans-serif';
    line-height: 160%;
    max-width: 700px;
    margin: auto;
}

// The <a> tag defines a hyperlink, which is used to link from one page to
// another.
a {
    text-decoration: underline;
    border: none;
}

// The <p> tag defines a paragraph.
p {
    margin: 20px 0px;
}

// The <img> tag is used to embed an image in an HTML page.
img {
    display: block;
    text-align: center;
    border: none;
    border-radius: 55px;
    width: 70%;
    margin: 10px auto 10px auto; // top, right, bottom, left
    padding: 50px;
}

// The <mark> tag defines text that should be marked or highlighted.
mark {
    background-color: $secondary;
}

.left-justify {
    float: left;
}

.right-justify {
    float: right;
}

pre, code {
    background-color: $secondary;
    font: 12px;
    font-family: 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', 'Monospace';
}

pre {
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    word-wrap: normal;
    border-radius: 3px;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 16px;
}

code {
    font-size: 12px;
    border-radius: 3px;
    padding: 4px;
}

pre>code {
    font-size: 100%;
    background-color: transparent;
    white-space: pre;
    word-break: normal;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

pre code {
    display: inline;
    background-color: transparent;
    line-height: inherit;
    overflow: visible;
    word-wrap: normal;
    border: 0px;
    max-width: auto;
    margin: 0px;
    padding: 0px;
}

pre code::before,
pre code::after {
    content: normal;
}

em, q, em, dfn {
    font-style: italic;
}

.sans, html .gist .gist-file .gist-meta {
    font-family: 'Open Sans', 'Sans-serif';
}

.mono, pre, code, tt, p code, li code {
    font-family: 'Menlo', 'Monaco', 'Andale Mono', 'Lucida Console', 'Courier New', 'Monospace';
}

.heading, .serif, h1, h2, h3, h4, h5, h6 {
    font-family: 'Old Standard TT', 'Serif';
}

strong {
    font-weight: 600;
}

q:before {
    content: '\201C';
}

q:after {
    content: '\201D';
}

del, s {
    text-decoration: line-through;
}

blockquote.prose {
    font-family: 'Old Standard TT', 'Serif';
    font-style: italic;
    text-align: center;
    border-left: 0px;
    padding: 25px 0px 5px;
}

blockquote {
    font-family: 'Old Standard TT', 'Serif';
    border-left: 4px solid #dddddd;
    padding: 0px 15px;
}

blockquote> :first-child {
    margin-top: 0px;
}

blockquote> :last-child {
    margin-bottom: 0px;
}

blockquote p {
    display: inline-block;
    font-style: italic;
}

hr {
    background-color: $primary;
    height: 1px;
    width: 40%;
    margin: 25px auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0px 10px;
    padding: 0px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 14px;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

h1, h2 {
    margin-top: 28px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    padding: 0px;
}

table tr {
    background-color: $white;
    border-top: 1px solid $gray80;
    margin: 0px;
    padding: 0px;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th {
    font-weight: bold;
    text-align: left;
    border: 1px solid $gray80;
    margin: 0px;
    padding: 6px 13px;
}

table tr td {
    text-align: left;
    border: 1px solid $gray80;
    margin: 0px;
    padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
    margin-top: 0px;
}

table tr th :last-child, table tr td :last-child {
    margin-bottom: 0px;
}

#sub-header, time {
    color: $tertiary;
    font-size: 13px;
}

#sub-header {
    margin: 0px 4px;
}

#nav h1 a {
    color: $primary;
    font-size: 35px;
    line-height: 120%;
}

.posts-listing a, #nav a {
    text-decoration: none;
}

li {
    margin-left: 20px;
}

ul li {
    margin-left: 5px;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: '\00BB \0020';
}

#nav ul li:before, .posts-listing li:before {
    content: '';
    margin-right: 0px;
}

#content {
    font-size: 15px;
    text-align: left;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

#content h1, #content h2 {
    margin-bottom: 5px;
}

#content h2 {
    font-size: 25px;
}

#content .entry-content {
    margin-top: 15px;
}

#content time {
    margin-left: 3px;
}

#content h1 {
    font-size: 30px;
}

.author, .description, .tags a, .social a {
    color: $tertiary;
    font-size: 13px;
    margin-left: 3px;
}

// This is a hack to add separators between tags.
.tags span:not(:last-child):after {
    content: "•";
    color: $tertiary;
    font-size: 13px;
    margin-left: 3px;
}

// This is a hack to add separators between social.
.social span:not(:last-child):after {
    content: "•";
    color: $tertiary;
    font-size: 13px;
    margin-left: 3px;
}

.highlight {
    margin: 10px 0px;
}

.posts-listing {
    margin-bottom: 25px;
}

.posts-listing li {
    margin: 0px 0px 25px 15px;
}

.posts-listing li a:hover, #nav a:hover {
    text-decoration: underline;
}

.social {
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#nav {
    position: static;
    text-align: center;
    margin-top: 60px;
}

#nav ul {
    display: table;
    margin: 8px auto 0px auto;
}

#nav li {
    display: table-cell;
    font-size: 15px;
    list-style-type: none;
    padding: 0px 20px;
}

#links {
    margin: 50px 0px 0px 0px;
}

#links :nth-child(2) {
    float: right;
}

// CSS for custom 404 page.
#not-found {
    text-align: center;
}

.about #content {
    padding: 0px;
}

#not-found a {
    display: inline-block;
    font-size: 100px;
    font-family: 'Old Standard TT', 'Serif';
    text-decoration: none;
    padding-top: 100px;
    padding-bottom: 25px;
}

#not-found img {
    transform: rotate(90deg);
    width: 75px;
}

// Small: <768px, ≥576px
@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    #nav h1 a {
        font-size: 28px;
    }

    #nav li {
        font-size: 13px;
        padding: 0px 15px;
    }

    #content {
        font-size: 14px;
        margin-top: 0px;
        padding-top: 50px;
    }

    #content h1 {
        font-size: 25px;
    }

    #content h2 {
        font-size: 22px;
    }

    #content h3 {
        font-size: 20px;
    }

    .posts-listing li div {
        font-size: 12px;
    }

    .social {
        font-size: 12px;
    }
}

// X-Small: <576px
@media (max-width: 575px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    #nav h1 a {
        font-size: 22px;
    }

    #nav li {
        font-size: 12px;
        padding: 0px 10px;
    }

    #content {
        font-size: 12px;
        margin-top: 0px;
        padding-top: 20px;
    }

    #content h1 {
        font-size: 20px;
    }

    #content h2 {
        font-size: 18px;
    }

    #content h3 {
        font-size: 16px;
    }

    .posts-listing li div {
        font-size: 12px;
    }

    .social {
        font-size: 12px;
    }
}
