{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ range .Data.Pages.ByPublishDate.Reverse }}
      <li>
        {{ if .Params.Redirect }}
        <h2><a href="{{ .Params.Redirect}}">{{ .Title }}</a></h2>
        {{ else }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ end }}
        {{ if .Date }}
        <div id=date>
          <time>{{ .Date.Format (.Site.Params.dateFormat | default "January 2006") }}</time>
        </div>
        {{ end }}
        <div id=description>
          {{ .Description }}
        </div>
        {{ if .Params.author }}
        <div id=author>
          by {{ .Params.author }}
        </div>
        {{ end  }}
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
