{{ define "main" }}
<!--
  table.html (layouts/_default/table.html)

  Single view template for displaying tables.
-->
<section id="content">
  <h1>{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
  <div id="sub-header">
    {{ if .Date }}
    {{ .Date.Format (.Site.Params.dateFormat | default "January 2006") }} · {{ .ReadingTime }} minutes
    {{ end }}
    {{ if .Params.author }}
    <br>
    by {{ .Params.author }}
    {{ end }}
  </div>
  <div class="entry-content-table">
    {{ .Content }}
  </div>
</section>
{{ end }}
