<section id="social" class="social">
  {{ range .Site.Params.social }}
    <a href="{{ .email }}">Email</a>
    |
    <a href="{{ .github }}">GitHub</a>
    |
    <a href="{{ .linkedin }}">LinkedIn</a>
    |
    <a href="{{ .stackoverflow }}">Stack Overflow</a>
    |
    <a href="{{ .instagram }}">Instagram</a>
    |
    <a href="{{ .twitter }}">Twitter</a>
    |
    <a href="{{ .garmin }}">Garmin</a>
    |
    <a href="{{ .strava }}">Strava</a>
    |
    <a href="{{ .rss }}">RSS</a>
    {{ end }}
</section>
