<section id="social" class="social">
  {{ with .Site.Params.social.email }}
    <a href="mailto:{{ . }}">Email</a>
  {{ end }}
  |
  {{ with .Site.Params.social.github }}
    <a href="{{ . }}">GitHub</a>
  {{ end }}
  |
  {{ with .Site.Params.social.linkedin }}
    <a href="{{ . }}">LinkedIn</a>
  {{ end }}
  |
  {{ with .Site.Params.social.stackoverflow }}
    <a href="{{ . }}">Stack Overflow</a>
  {{ end }}
  |
  {{ with .Site.Params.social.twitter }}
    <a href="{{ . }}">Twitter</a>
  {{ end }}
</section>